body {
    background-color: var(--color-pomb-and-power);
    font-family: 'Press Start 2P', cursive;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}