.header-game {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.points-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vs-game {
    font-size: 8px;
    color: var(--color-sandstorm)
}